# nicegui
export STORAGE_SECRET=

# backblaze
export ENDPOINT=
export REGION=
export APPLICATION_KEY_ID=
export APPLICATION_KEY=
export BUCKET_NAME=

# s001
export LEAGUE_ID=
export ESPN_S2=
export SWID=
