---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files

      - id: mixed-line-ending
        alias: check-line-endings
        name: check-line-endings
        args: ['--fix=no']

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        exclude: (__init__|setup|(docs?|examples?|tests?|utils?)/.*)\.py$
        additional_dependencies: ["tomli"]
        args:
          - --ignore=D107,D203,D212,D401
  - repo: "https://github.com/PyCQA/pylint"
    rev: v4.0.2
    hooks:
      - id: pylint
        exclude: (__init__|setup|(docs?|examples?|tests?|utils?)/.*)\.py$
        args: 
          [
            "--rcfile=./pyproject.toml"
          ]
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        additional_dependencies: [toml]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 4.0.0a1
    hooks:
      - id: sqlfluff-lint
        additional_dependencies: ["dbt-duckdb==1.9.0", "sqlfluff-templater-dbt"]
        entry: sqlfluff lint --processes 0 --disable-progress-bar
      - id: sqlfluff-fix
        additional_dependencies: ["dbt-duckdb==1.9.0", "sqlfluff-templater-dbt"]
        entry: sqlfluff fix --show-lint-violations --processes 0 --disable-progress-bar
